01-sales-data-pipe/workflow.json
{
  "name": "Sales Data Pipeline",
  "nodes": [
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "5fa23b88be2df695d53d16c30e17d530"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "011ab2a8-75c3-46e7-abf2-32a124d3e493",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gQQ25xtM6Ktdv2V3",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eceb1190-6e6c-4d79-b2fd-527d0d33e9c8",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "4321e2e1-d4b8-4030-b943-5febf289f28e",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3043d983-8a16-4935-bf3c-36fd27925fbf",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "b19af49a-e45c-4e64-a5bc-62291d6ed212",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "beb80d25-391b-4b0f-8256-4ec22c124a55",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "dea17bfc-e94b-42ee-9651-fb1add9f6163",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "e6224598-4412-43d5-a35b-8b0ffab23696",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "5e50ca40-de2b-4c8e-a1e9-122e2d24c3a4",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "5fa23b88be2df695d53d16c30e17d530"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{ $json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -128
      ],
      "id": "a7534f5a-32d5-4d2a-92c2-ea0781360064",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gQQ25xtM6Ktdv2V3",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        -128
      ],
      "id": "69cb10fe-232b-4a8d-a6c0-c648d527cbea",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "218455c8-8062-4a63-8c10-053106da5de9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        272
      ],
      "id": "1f12c0ca-a4fe-4d45-971b-812e1fd09a9e",
      "name": "FilterDelivered"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            },
            {
              "aggregation": "average",
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1040,
        112
      ],
      "id": "bbc03a60-afc1-4949-a79e-2768e5eaf296",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1248,
        112
      ],
      "id": "bf82aad9-84a8-48cd-bccb-2761db1ec12d",
      "name": "UpdateFieldNames"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1456,
        112
      ],
      "id": "a8334d9f-d37c-4169-8717-da2c90d0558c",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "5fa23b88be2df695d53d16c30e17d530"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=regions",
              "value": "={{ $json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        112
      ],
      "id": "eca9ee68-fb47-4d19-b2e8-0e7ed5a85020",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gQQ25xtM6Ktdv2V3",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeff1a41-b2e3-479c-a48d-6073873a4f20",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "0af7c271-a4e4-4388-98ea-faf4fdf45d1f",
              "name": "assessment_id",
              "value": "5fa23b88be2df695d53d16c30e17d530",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        352
      ],
      "id": "3761c38c-c5f0-4c2f-8531-67439000b97f",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        352
      ],
      "id": "389c91bc-f917-433a-85f3-65292a766576",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "5fa23b88be2df695d53d16c30e17d530"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        352
      ],
      "id": "eff217d5-b7f4-4720-86dd-1280553af9b4",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gQQ25xtM6Ktdv2V3",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        368
      ],
      "id": "8ee7f6eb-a186-49e0-938f-64a24eec021e",
      "name": "IgnoreNonDelivered"
    },
    {
      "parameters": {
        "content": "# Academy Section 2 Sales Data Pipeline\nCreated by: Muhib\nDate: 3/7/26\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2",
        "height": 288,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2848,
        -288
      ],
      "id": "d829e77e-4c6c-40b9-899c-cd55836e224c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "661b848f-4d3a-4a35-86ea-261fafceb08f",
              "leftValue": "={{ $json.count_order_total }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        -256
      ],
      "id": "fbf06127-826d-4499-8788-ae998082b509",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        -112
      ],
      "id": "4dfd018a-69e9-4ccb-86aa-ccc7b1c8e603",
      "name": "IgnoreNonDelivered1"
    },
    {
      "parameters": {
        "sendTo": "muhibkmehboob@gmail.com",
        "subject": "Low Orders",
        "message": "=Low Orders Alert\nregion: {{ $json.region }},\nNo of orders: {{ $json.count_order_total }},\ntotal sum: {{ $json.sum_order_total }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -272
      ],
      "id": "22ab23d4-1e06-45f7-b5f4-798aaeb23773",
      "name": "LowOrders",
      "webhookId": "b9efdfa9-a9d2-42ef-9cd6-07772c8bbf08",
      "credentials": {
        "gmailOAuth2": {
          "id": "pQTsnjPH4qiaIPU0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "muhibkmehboob@gmail.com",
        "subject": "Sales Report",
        "message": "=Order report attached \n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "report"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1888,
        560
      ],
      "id": "0efc2268-8a4b-4622-a748-a63c582ab1b1",
      "name": "SalesReportEmail",
      "webhookId": "b9efdfa9-a9d2-42ef-9cd6-07772c8bbf08",
      "credentials": {
        "gmailOAuth2": {
          "id": "pQTsnjPH4qiaIPU0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IgnoreNonDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldNames",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldNames": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          },
          {
            "node": "SalesReportEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "LowOrders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IgnoreNonDelivered1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c405b548-2310-4df7-bc38-b6a2eec448aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5abd987c9d791006f1a64b9a2c7f3691777f006f895670789fd0b474dc909634"
  },
  "nodeGroups": [],
  "id": "FroIGRL2WjJy0chb",
  "tags": [
    {
      "updatedAt": "2026-07-02T16:46:26.715Z",
      "createdAt": "2026-07-02T16:46:26.715Z",
      "id": "DCe8XmtG29b6pxSA",
      "name": "n8n101"
    }
  ]
}
