Intelligent Invoice Audit & Accounts Payable Engine/Intelligent Invoice Audit & Accounts Payable Engine.json
{
  "name": "Intelligent Invoice Audit & Accounts Payable Engine",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Enterprise Invoice Audit Portal",
        "formDescription": "Upload vendor invoices for real-time AI parsing and calculation validation.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Invoice File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -48,
        -64
      ],
      "id": "42b30299-38b9-4e9f-97b2-1a563b227485",
      "name": "InvoiceSubmission",
      "webhookId": "8e09e6f0-3158-4e85-9a1a-774c5211e476"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7ec0ced-7c94-4234-a328-901dfe613914",
              "name": "invoice_file",
              "value": "={{ $('InvoiceSubmission').item.binary.Invoice_File }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -64
      ],
      "id": "7ea1444b-21a3-4ac6-a87a-468afedeefbb",
      "name": "SetBinary"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        128
      ],
      "id": "dd77fbd4-6f55-42e5-87f9-378544ff0144",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pS3bC1uGBMBAHUrl",
          "name": "geminiAPI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"vendor_name\": \"Sark Tech Enterprises\",\n  \"invoice_date\": \"2026-07-06\",\n  \"printed_subtotal\": 1500.00,\n  \"printed_tax\": 225.00,\n  \"printed_grand_total\": 1725.00,\n  \"line_items\": [\n    { \"description\": \"Cloud Middleware Deployment\", \"amount\": 1000.00 },\n    { \"description\": \"Database Optimization Service\", \"amount\": 500.00 }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        144
      ],
      "id": "0d93bd85-5812-40fb-8ba7-e09fdadeb29f",
      "name": "OutputParser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "use the included pdf file to generate the output in a structured way",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "## Role\nYou are an elite, deterministic Enterprise Accounting Auditor AI. Your sole function is to visually analyze invoice documents, extract core financial values, and output them with 100% data integrity.\n\n## Strict Instructions\nZero Prose: Output only a single, valid JSON object. Do not include introductory text, conversational pleasantries, or concluding notes.\n\nNo Markdown Wrappers: Do NOT wrap the output in markdown code blocks like ```json or ```. Start directly with { and end directly with }.\n\nData Types: Ensure numeric strings are converted into clean float numbers (e.g., \"1,250.50\" becomes 1250.50). Dates must strictly use the standard YYYY-MM-DD format.\n\nMissing Values: If a value cannot be found or is completely unreadable, populate it as null for strings or 0.00 for numbers. Do not guess.\n\nItemized Extraction: Capture individual line items inside a flat array to allow downstream database calculation audits.\n\n## example output\n{\n  \"vendor_name\": \"Sark Tech Enterprises\",\n  \"invoice_date\": \"2026-07-06\",\n  \"printed_subtotal\": 1500.00,\n  \"printed_tax\": 225.00,\n  \"printed_grand_total\": 1725.00,\n  \"line_items\": [\n    { \"description\": \"Cloud Middleware Deployment\", \"amount\": 1000.00 },\n    { \"description\": \"Database Optimization Service\", \"amount\": 500.00 }\n  ]\n}",
          "passthroughBinaryPdfs": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -64
      ],
      "id": "61aa0084-a10a-493c-995f-0af0226f104c",
      "name": "TextExtracterAndFormater",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17a772f0-acfc-4b37-acd1-6abea404e5b2",
              "name": "vendor_name",
              "value": "={{ $json.output.vendor_name }}",
              "type": "string"
            },
            {
              "id": "7b8e5299-2ce5-43f9-87cd-8a2c6ca95b9d",
              "name": "invoice_date",
              "value": "={{ $json.output.invoice_date }}",
              "type": "string"
            },
            {
              "id": "e2e654b5-2b80-4a4a-8391-7dc7b628783d",
              "name": "subtotal",
              "value": "={{ $json.output.printed_subtotal }}",
              "type": "number"
            },
            {
              "id": "0359513a-6da2-493c-a43f-8b5059e5d4e5",
              "name": "tax",
              "value": "={{ $json.output.printed_tax }}",
              "type": "number"
            },
            {
              "id": "58e635e2-49f9-468c-bcd5-960505169a96",
              "name": "grand_total",
              "value": "={{ $json.output.printed_grand_total }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -64
      ],
      "id": "ebc90096-8bb3-4153-8346-a425023e0551",
      "name": "SetDetails"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9cc94e7d-bf16-472b-b22b-f1058806470d",
              "leftValue": "={{$('SetDetails').item.json.subtotal.round(1) + $('SetDetails').item.json.tax.round(1) }}",
              "rightValue": "={{ $('SetDetails').item.json.grand_total.round(1) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        32
      ],
      "id": "a397e4f4-3637-4b75-9aea-ac2fe917b9cf",
      "name": "MathAudit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f68f36e-59bf-4c2a-9aa6-207d56834360",
              "name": "=error",
              "value": "={{($('SetDetails').item.json.grand_total.round(2) -($('SetDetails').item.json.subtotal.round(2)+$('SetDetails').item.json.tax.round(2)) ).round(2)}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        288
      ],
      "id": "a9c0b9ff-9f0c-4594-b57e-c49bc9d36a3b",
      "name": "Error"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "subtotal": "={{ $('SetDetails').item.json.subtotal }}",
            "tax": "={{ $('SetDetails').item.json.tax }}",
            "grand_total": "={{ $('SetDetails').item.json.grand_total }}",
            "vendor_name": "={{ $('SetDetails').item.json.vendor_name }}",
            "invoice_date": "={{ $('SetDetails').item.json.invoice_date }}",
            "audit_status": "=approved",
            "processed_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tax",
              "displayName": "tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "audit_status",
              "displayName": "audit_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_details",
              "displayName": "error_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        -144
      ],
      "id": "38acdd53-574c-4f6d-913d-c5e5f2d24939",
      "name": "Approved",
      "credentials": {
        "postgres": {
          "id": "QvvGS0ZKQIwUoigH",
          "name": "postgres"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "subtotal": "={{ $('SetDetails').item.json.subtotal }}",
            "tax": "={{ $('SetDetails').item.json.tax }}",
            "grand_total": "={{ $('SetDetails').item.json.grand_total }}",
            "vendor_name": "={{ $('SetDetails').item.json.vendor_name }}",
            "invoice_date": "={{ $('SetDetails').item.json.invoice_date }}",
            "audit_status": "=flagged",
            "processed_at": "={{ $now }}",
            "error_details": "={{ $json.error }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "tax",
              "displayName": "tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "audit_status",
              "displayName": "audit_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_details",
              "displayName": "error_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        240
      ],
      "id": "d6e9a693-f2ce-470f-af89-6244cea1a495",
      "name": "Flagged",
      "credentials": {
        "postgres": {
          "id": "QvvGS0ZKQIwUoigH",
          "name": "postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "where": {
          "values": [
            {
              "column": "vendor_name",
              "value": "={{ $json.vendor_name }}"
            },
            {
              "column": "invoice_date",
              "value": "={{ $json.invoice_date }}"
            },
            {
              "column": "grand_total",
              "value": "={{ $json.grand_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        -64
      ],
      "id": "8497b05c-6e10-4b16-bd80-48c45273c5ec",
      "name": "FindMatching",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QvvGS0ZKQIwUoigH",
          "name": "postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a47fe110-9838-4246-a2d8-be3eb37c1542",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        -64
      ],
      "id": "d7270eb7-dd84-4d5c-a9bf-b02107774539",
      "name": "DuplicateHandler"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        400
      ],
      "id": "ed8dc5af-c425-42f2-abe0-222ddd63a502",
      "name": "DuplicateData"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        736,
        400
      ],
      "id": "073d12e9-3a6e-468d-a463-860722ad9f00",
      "name": "OnDocumentError"
    },
    {
      "parameters": {
        "content": "Workflows Start on Form Submission\n",
        "height": 480,
        "width": 352,
        "color": "#292929"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -192
      ],
      "id": "c4ca438a-0d98-40c5-b565-2429804ef5f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ai Agent extracts data and handles structured output",
        "height": 480,
        "width": 512,
        "color": "#292929"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -192
      ],
      "id": "d9e2bea7-e669-420c-80af-8b5dfeb29a2a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Checks for Duplicates",
        "height": 480,
        "width": 384,
        "color": "#292929"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -192
      ],
      "id": "fe86ece5-476b-4f54-b911-093a1e1c9b71",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "muhibkmehboob@gmail.com",
        "subject": "Invoice Error",
        "message": "=Vender Name: {{ $('SetDetails').item.json.vendor_name }}, \nInvoice Date: {{ $('SetDetails').item.json.invoice_date }},\nGrand Total: {{ $('SetDetails').item.json.grand_total }} ,\nerror:  {{ $json.error }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1728,
        416
      ],
      "id": "10ca6f30-51f4-4045-be79-196e486e0718",
      "name": "SendsErrorMessage",
      "webhookId": "04668a87-4098-4338-906d-fdadde6c9ee3",
      "credentials": {
        "gmailOAuth2": {
          "id": "6DOyZ2a5muEBn9KW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "muhibkmehboob@gmail.com",
        "subject": "New Invoice",
        "message": "=Vender Name: {{ $('SetDetails').item.json.vendor_name }}, \nInvoice Date: {{ $('SetDetails').item.json.invoice_date }},\nGrand Total: {{ $('SetDetails').item.json.grand_total }} ,\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $('SetBinary').item.binary.invoice_file }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        16
      ],
      "id": "60bc0276-ad02-4620-a559-a1cd7ea3d5f6",
      "name": "SendInvoice",
      "webhookId": "04668a87-4098-4338-906d-fdadde6c9ee3",
      "credentials": {
        "gmailOAuth2": {
          "id": "6DOyZ2a5muEBn9KW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Handles correct routing for updating postgress and email \n",
        "height": 816,
        "width": 688,
        "color": "#292929"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -240
      ],
      "id": "cc9ba893-c61e-41d9-b043-93bf7ca409e3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Error Handling",
        "height": 224,
        "width": 544,
        "color": "#2B2B2B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        320
      ],
      "id": "b33e097d-5ea4-41c2-8e38-227b990e191e",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "InvoiceSubmission": {
      "main": [
        [
          {
            "node": "SetBinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetBinary": {
      "main": [
        [
          {
            "node": "TextExtracterAndFormater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "TextExtracterAndFormater",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "TextExtracterAndFormater",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "TextExtracterAndFormater": {
      "main": [
        [
          {
            "node": "SetDetails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnDocumentError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetDetails": {
      "main": [
        [
          {
            "node": "FindMatching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MathAudit": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendInvoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Flagged",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendsErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flagged": {
      "main": [
        []
      ]
    },
    "FindMatching": {
      "main": [
        [
          {
            "node": "DuplicateHandler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DuplicateHandler": {
      "main": [
        [
          {
            "node": "MathAudit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DuplicateData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6ae7dbaf-417d-4faa-931d-f41a998fc9b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fab36bcf21514280b9b7628490cf4291add25ec08604bb4dc332fc891d8212a"
  },
  "nodeGroups": [],
  "id": "BR0LSCySGWiuAQUP",
  "tags": [
    {
      "updatedAt": "2026-07-06T19:08:19.779Z",
      "createdAt": "2026-07-06T19:08:19.779Z",
      "id": "PBIO3FDVAgcAq2oy",
      "name": "Intelligent Invoice"
    }
  ]
}